@font-face {
    font-family: Callofduty;
    src: url(fonts/Callofduty.otf);
}
@font-face {
    font-family: orangee;
    src: url(fonts/orange.ttf);
}
@font-face {
    font-family: beach vibes;
    src: url(fonts/Beach\ Vibes.ttf);
}
@font-face {
    font-family: motion;
    src: url(fonts/MotionPersonalUseBold-2O0od.ttf);
}
@font-face {
    font-family: lemon_bold;
    src: url(fonts/LemonMilkBold-gx2B3.otf);
}
@font-face {
    font-family: lastdraft;
    src: url(fonts/last\ draft.ttf);
}
@font-face {
    font-family: albert;
    src: url(fonts/Albertsthal\ Typewriter.ttf);
}
@font-face {
    font-family: eduction;
    src: url(fonts/PWScolarpaper.ttf);
}
@font-face {
    font-family: degree;
    src: url(fonts/LemonMilk.otf);
}
@font-face {
    font-family: percentage;
    src: url(fonts/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: technical;
    src: url(fonts/Audiowide-Regular.ttf);
}
@font-face {
    font-family: monofontt;
    src: url(fonts/MONOFONT.TTF);
}
@font-face {
    font-family: displayy;
    src: url(fonts/Open\ 24\ Display\ St.ttf);
}